.@{namespace}-header {
  position: relative;
  width: 100%;
  height: 8.8rem;
  background-color: @color-white;

  .@{namespace}-container {
    position: relative;
  }
}

.@{namespace}-header__logo {
  text-align: center;
  background: @color-white;
  position: absolute;
  left: 50%;
  margin-left: -2.2rem;

  img {
    height: 7.7rem;
  }
}