@trans-fast:                        0.2s ease;
@trans-normal:                      0.35s ease;
@trans-slow:                        0.5s ease;

@import "elgg/comment";
@import "elgg/comment-edit";


.rhs-page-layout__footer:before {
    z-index: 0;
}

#login-dropdown {
    top: 0;
}

.elgg-layout {
    padding-top: 3rem;
    margin-right: auto;
    margin-left: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 102.4rem;
}

.embed-wrapper {
    min-height: 400px;
    margin: 0;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

#profile_manager_register_left {
    width: auto;
}

#content-editable {
    padding: 1.1rem 1rem 1.1rem 1.25rem !important;
}

.rhs-content-editable p, #content-editable p {
    font-size: 1.8rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.rhs-edit-block__bottom {
    position: relative;
    bottom: auto;
    right: auto;
    left: auto;
}

.rhs-edit-block__wrapper .elgg-menu {
    display: none;
}

.question-workflow-overview-full {
    height: 65px !important;
    border-bottom: 0 !important;
}

.question-workflow-overview-full .overview-element,
.question-workflow-overview-full .overview-state {
    padding-top: 15px;
}

.menu-builder-edit-menu-item {
    margin-left: 3px;
    margin-right: 3px;
    vertical-align: baseline;
}

div.elgg-module.collapsable .elgg-body {
    display:none;
}

div.elgg-module.collapsed .elgg-body  {
    display:block;
}

.mce-primary button {
    color: #333 !important;
}

.mce-content-body {
    padding:2rem;
}

.rhs-card-user-content__amount {
    margin-bottom:2rem;
}

.mce-container iframe {
    width: 99% !important;
}

.mce-i-embed {
  font-size: 1.4rem !important;
  &:before {
    font-family: @font--icons;
    content: "\e912" !important;
  }
}

.rhs-article__title {
    display: block;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.rhs-admin__options {
    margin-top: 1em;
    color: red;
}

.comment-body {
    word-wrap: break-word;
}

.rhs-edit-block__wrapper--open {
    @media ( max-width: @screen-xs-max ) {
        max-height: none !important;
        z-index: 1;
        height: 100%;
        overflow-y: scroll;
    }
}

.rhs-card-list__user {
    width:3rem;
    height:3rem;

    @media (max-width: @screen-sm-max) {
        width:4rem;
        height:4rem;
    }
}

.rhs-card-list__text--user {
    padding-left:1.5rem;
    min-height:3rem;
    line-height:3rem;

    @media (max-width: @screen-sm-max) {
        min-height:4rem;
        line-height:4rem;
    }
}

.selector__select {
    label.__problem & {
        border-color: @color-error;
    }
}

.mce-tinymce {
    label.__problem & {
        border-color: @color-error !important;
    }
}