.@{namespace}-breadcrumbs {
  font-size: @font-size--medium;
  line-height: @line-height--medium;

  @media( min-width: @screen-md ) {
    font-size: @font-size--base;
    line-height: @line-height--base;
  }

  a {
    text-decoration: none;
    color: @color-grey--60;
    margin-left: 2rem;
    position: relative;
    transition: @trans-color;
    &:before {
      content: @icon-angle-right;
      font-family: @font--icons;
      color: @color-grey--60 !important;
      position: absolute;
      transform: translate(-50%, 5%);
      margin-top: -0.1rem;
      margin-left: -1.1rem;
      font-size: 1rem;
      pointer-events: none;
    }
    &:hover {
      color: @color-septenary;
      &:before {
        color: @color-grey--60;
      }
    }
    &:first-child {
      margin-left:0;
      &:before {
        display: none;
      }
    }
  }
}