.@{namespace}-checkbox {
  display: block;
  padding-left: 2.4rem;
  padding-bottom: 0.6rem;
  position: relative;
  cursor: pointer;

  a {
    .link()
  }
}

.@{namespace}-checkbox--floated { // This is to display them next to each other
  float: left;
  margin-right: 3rem;
}

.@{namespace}-checkbox__placeholder {
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  left: 0;
  top: 0.4rem;
  background-color: @color-white;
  border: 2px solid @color-grey--60;
  border-radius: 0.4rem;
  transition: @trans-all;

  .focus > & {
    border-color: @color-septenary;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0.45rem;
    left: 0.45rem;
    width: 0.8rem;
    height: 0.3rem;
    background-color: @color-white;
    transform: rotate(-45deg);
    transition: @trans-all;

    :hover > & {
      background-color: @color-grey--50;
    }

    .chosen > & {
      background-color: @color-septenary;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0.65rem;
    left: 0.1rem;
    width: 0.66rem;
    height: 0.3rem;
    background-color: @color-white;
    transform: rotate(45deg);
    transition: @trans-all;

    :hover > & {
      background-color: @color-grey--50;
    }

    .chosen > & {
      background-color: @color-septenary;
    }
  }
}

.@{namespace}-checkbox__input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}