.@{namespace}-home {

}

.@{namespace}-home__title {
  margin: 2rem 0 2rem;
  font-size: @font-size--title-normal;
  line-height: @line-height--title-normal;
  text-align: center;
  position: relative;
  color: @color-white;
  text-shadow: @text-shadow--strong;

  @media (min-width: @screen-md) {
    color: @color-white;
    font-size: 5rem;
    line-height: 5.6rem;
    margin: 7.1rem 0 0.5rem;
    position: relative;
  }
  @media (max-width: @screen-sm-max) {
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.@{namespace}-home__subtitle {
  margin: 0 0 3.4rem;
  font-size: @font-size--title-small;
  line-height: @line-height--title-small;
  text-align: center;
  position: relative;
  color: @color-white;
  text-shadow: @text-shadow--strong;
}
